@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn-primary {
		@apply border-none text-white cursor-pointer font-bold px-[34px] py-[13px] rounded-full bg-gradient-to-r from-LimeGreen to-BrightCyan text-sm;
	}
}

:root {
	--DarkBlue: hsl(233, 26%, 24%);
	--LimeGreen: hsl(136, 65%, 51%);
	--BrightCyan: hsl(192, 70%, 51%);

	--GrayishBlue: hsl(233, 8%, 62%);
	--LightGrayishBlue: hsl(220, 16%, 96%);
	--VeryLightGray: hsl(0, 0%, 98%);
}

#homePage>div::after,
#homePage::after {
	content: "";
	position: absolute;
	z-index: -5;
}

#homePage>div::after {
	background: url("assets/images/bg-intro-mobile.svg") no-repeat;
	width: 100%;
	height: 70%;
	background-size: 100%;
	top: 0;
}

#homePage::after {
	background: url("assets/images/image-mockups.png") no-repeat;
	width: 100%;
	height: 70%;
	background-size: 100%;
	top: 0;
}

.homeLinks li:last-child a {
	position: relative;
}

.homeLinks li:last-child a::after {
	content: "";
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: -1.5rem;
	left: 0;
	background: linear-gradient(to right, var(--LimeGreen), var(--BrightCyan));
	transition: left .3s ease-in-out;
}

.homeLinks li:hover~li:last-child a::after {
	left: -100%;
}

@media (min-width: 640px) {

	#homePage>div::after {
		width: 50%;
		height: 100%;
		right: 0;
	}

	#homePage::after {
		height: 90%;
		width: 53%;
		right: -8rem;
		top: -2rem;
		background-size: contain;
	}

	#homePage>div::after {
		background: url("assets/images/bg-intro-desktop.svg");
	}
}

/* ============ FONTS ========= */
@font-face {
	font-family: 'Public Sans';
	src: url("./assets/fonts/PublicSans-Light.ttf");
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: 'Public Sans';
	src: url("./assets/fonts/PublicSans-Regular.ttf");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Public Sans';
	src: url("./assets/fonts/PublicSans-Bold.ttf");
	font-weight: 700;
	font-display: swap;
}

/* ============ SCROLL-BAR ========= */
/* width */
::-webkit-scrollbar {
	width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--LightGrayishBlue);
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	border: 3px solid var(--LightGrayishBlue);
	background: linear-gradient(to bottom, var(--LimeGreen), var(--BrightCyan));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(146, 146, 146);
}