@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn-primary {
		@apply z-10 cursor-pointer rounded-full border-none bg-gradient-to-r from-LimeGreen to-BrightCyan px-[34px] py-[13px] text-sm font-bold text-white transition-transform hover:scale-[1.03] hover:opacity-80 active:scale-[0.98];
	}
}
@layer utilities {
	.-word-5 {
		word-spacing: -5px;
	}
}

:root {
	--DarkBlue: hsl(233, 26%, 24%);
	--LimeGreen: hsl(136, 65%, 51%);
	--BrightCyan: hsl(192, 70%, 51%);

	--GrayishBlue: hsl(233, 8%, 62%);
	--LightGrayishBlue: hsl(220, 16%, 96%);
	--VeryLightGray: hsl(0, 0%, 98%);
}

#home-page-bg::after,
#homePage::after {
	content: "";
	position: absolute;
	width: 100%;
}

#home-page-bg {
	position: absolute;
	width: 100vw;
	height: 100%;
	top: 0;
	left: 0;
}

#home-page-bg::after {
	background: url("assets/images/bg-intro-mobile.svg") no-repeat;
	height: 70%;
	top: -5rem;
	background-size: cover;
}

#homePage::after {
	background: url("assets/images/image-mockups.png") no-repeat;
	height: 90%;
	top: -11rem;
	background-size: contain;
	width: 100%;
	max-width: 31rem;
	left: 50%;
	transform: translateX(-50%);
}

.homeLinks li:hover ~ #nav__underline {
	bottom: -1rem;
}
#homeArticles:hover h3 {
	color: var(--LimeGreen);
}
#nav__underline {
	width: calc(100% / 5);
	height: 3px;
	position: absolute;
	bottom: -1.5rem;
	left: 0;
	background: linear-gradient(to right, var(--LimeGreen), var(--BrightCyan));
	transition: all 0.2s ease-in-out;
}

@media (min-width: 640px) {
	#home-page-bg::after {
		background: url("assets/images/bg-intro-desktop.svg") no-repeat;
		width: 90%;
		height: 73rem;
		right: -17rem;
		top: -10rem;
		background-size: contain;
	}

	#homePage::after {
		height: 60rem;
		width: 57%;
		min-width: 24rem;
		right: -7rem;
		top: -3rem;
		background-size: contain;
		transform: none;
		left: auto;
		max-width: none;
	}
}
@media (min-width: 1150px) {
	#home-page-bg::after {
		right: -30rem;
		top: -11.4rem;
	}

	#homePage::after {
		right: -11rem;
	}
}

/* ============ FONTS ========= */
@font-face {
	font-family: "Public Sans";
	src: url("./assets/fonts/PublicSans-Light.ttf");
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: "Public Sans";
	src: url("./assets/fonts/PublicSans-Regular.ttf");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Public Sans";
	src: url("./assets/fonts/PublicSans-Bold.ttf");
	font-weight: 700;
	font-display: swap;
}

/* ============ SCROLL-BAR ========= */
/* width */
::-webkit-scrollbar {
	width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--LightGrayishBlue);
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	border: 3px solid var(--LightGrayishBlue);
	background: linear-gradient(to bottom, var(--LimeGreen), var(--BrightCyan));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(146, 146, 146);
}
